/* iPhone upright */
@media only screen and (max-width: 798px) {
    #social-icons {  
        transform: translateX(calc(-50% - 55px));
    }
}

/* iPad upright */
@media only screen and (min-width: 810px) {
    body {
        font-size: 25px;
    }
    #social-icons {  
        transform: translateX(calc(-50% + 10px));
    }
    .swiper {
        padding-top: 200px;    
    }
    .swiper-slide {
        width: 500px;
        height: 450px;
        -webkit-box-reflect:below 60px linear-gradient(transparent, transparent, #0006);
    }        
    .swiper-slide img {
        transform: scale(100%) translate(0%, 0%);
    }
    .swiper-pagination {
        top: 100px;
    }
    .swiper-pagination-bullet {
        height: 15px;
        width: 15px;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        font-size: 32px;
    }    
    .swiper {
        padding-top: 120px;    
    }
    .swiper-slide {
        width: 625px;
        height: 560px;
        -webkit-box-reflect:below 22px linear-gradient(transparent, transparent, #0006);
    }
    .swiper-slide img {
        transform: scale(125%) translate(0%, 7.5%);
    }
    .swiper-pagination {
        top: 50px;
    }
    #social-icons {  
        transform: translateX(calc(-50% + 550px));
    }    
}
